<md-dialog aria-label="Add new Vessel">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add new Vessel</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeAddForm()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="vesselForm" ng-submit='addVessel()'>
                <label>Basic Info</label>
                <md-input-container>
                    <label>Name</label>
                    <input required name="vesselName" ng-model="vessel.name">
                    <!-- <div ng-messages="form.vesselForm.vesselName.$error">
                        <div ng-message="required">This field is required</div>
                    </div> -->
                </md-input-container>
                <md-input-container>
                    <label>Width</label>
                    <input required name="vessel_width" ng-model="vessel.width">
                    <!-- <div ng-messages="form.vesselForm.vessel_width.$error">
                        <div ng-message="required">This field is required</div>
                    </div> -->
                </md-input-container>
                <md-input-container>
                    <label>Length</label>
                    <input required name="vessel_length" ng-model="vessel.length">
                    <!-- <div ng-messages="vesselForm.vessel_length.$error">
                        <div ng-message="required">This field is required</div>
                    </div> -->
                </md-input-container>
                <md-input-container>
                    <label>Draft</label>
                    <input required name="vessel_draft" ng-model="vessel.draft">
                    <!-- <div ng-messages="vesselForm.vessel_draft.$error">
                        <div ng-message="required">This field is required</div>
                    </div> -->
                </md-input-container>
                <label>Last Known Position</label>
                <md-content layout="row">
                    <md-input-container>
                        <label>Latitude</label>
                        <input required name="vessel_latitude" ng-model="vessel.last_known_position[0]">
                        <!-- <div ng-messages="vesselForm.vessel_latitude.$error">
                            <div ng-message="required">This field is required</div>
                        </div> -->
                    </md-input-container>
                    <md-input-container>
                        <label>Longitude</label>
                        <input required name="vessel_longitude" ng-model="vessel.last_known_position[1]">
                        <!-- <div ng-messages="vesselForm.vessel_longitude.$error">
                            <div ng-message="required">This field is required</div>
                        </div> -->
                    </md-input-container>
                </md-content>
            </form>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="addVessel()" class="md-primary md-raised">
                Add
            </md-button>
        </div>
    </form>
</md-dialog>
