<md-content layout="row">
    <span flex hide-sm></span>
    <md-content flex="80" flex-sm="100" layout="row" layout-sm="column">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Vessels</h2>
                <p></p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button ui-sref="vessels" flex>Details</md-button>
            </div>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Vessels</h2>
                <p></p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button ui-sref="vessels" flex>Details</md-button>
            </div>
        </md-card>
    </md-content>
    <span flex hide-sm></span>
</md-content>
