<md-dialog aria-label="Add new Vessel">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add new Vessel</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeAddForm()">
                <md-icon class="fa fa-times fa-2x" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="vesselForm" ng-submit='addVessel()' novalidate>
            <label>Basic Info</label>
            <md-input-container>
                <label>Name</label>
                <input required name="name" ng-model="vessel.name">
                <div ng-messages ng-if='vesselForm.name.$invalid && vesselForm.name.$dirty'>
                    <div ng-message>This field is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Width
                    <small>(in meters)</small>
                </label>
                <input required name="width" ng-model="vessel.width">
                <div ng-messages ng-if='vesselForm.width.$invalid && vesselForm.width.$dirty'>
                    <div ng-message>This field is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Length
                    <small>(in meters)</small>
                </label>
                <input required name="len" ng-model="vessel.len">
                <div ng-messages ng-if='vesselForm.len.$invalid && vesselForm.len.$dirty'>
                    <div ng-message>This field is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Draft
                    <small>(in meters)</small>
                </label>
                <input required name="draft" ng-model="vessel.draft">
                <div ng-messages ng-if='vesselForm.draft.$invalid && vesselForm.draft.$dirty'>
                    <div ng-message>This field is required</div>
                </div>
            </md-input-container>
            <label>Last Known Position</label>
            <md-content layout="row">
                <md-input-container>
                    <label>Latitude</label>
                    <input required name="last_known_position" ng-model="vessel.last_known_position[1]">
                    <div ng-messages ng-if='vesselForm.last_known_position.$invalid && vesselForm.last_known_position.$dirty'>
                        <div ng-message>This field is required</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Longitude</label>
                    <input required name="last_known_position" ng-model="vessel.last_known_position[0]">
                    <div ng-messages ng-if='vesselForm.last_known_position.$invalid && vesselForm.last_known_position.$dirty'>
                        <div ng-message>This field is required</div>
                    </div>
                </md-input-container>
            </md-content>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-if='vessel._id !== undefined' ng-click='deleteVessel($event)' class="md-warn">
            Delete
        </md-button>
        <span flex></span>
        <md-button ng-click="addVessel()" class="md-primary md-raised" aria-label="Submit vessel form">
            <span ng-if='vessel._id === undefined && !sending'>Add</span>
            <span ng-if='vessel._id !== undefined && !sending'>Update</span>
            <md-icon ng-if='sending' class="fa fa-circle-o-notch fa-spin fa-2x" aria-label="Loading"></md-icon>
        </md-button>
    </div>
</md-dialog>
