<md-content layout="row" layout-sm="column" layout-wrap>
    <md-content flex-gt-sm="50" ng-repeat="vessel in vessels track by vessel._id">
        <md-card id="vessel-{{vessel._id}}">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-title">{{vessel.name}}</h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <ui-gmap-google-map options='mapOptions' center='vessel.last_known_position' zoom='initialZoom'>
                    <ui-gmap-markers models='[vessel]' idKey='"_id"' coords="'last_known_position'">
                </ui-gmap-google-map>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="center center">
                <md-button flex="33" ng-click='editVessel($event, vessel)'>
                    Edit
                </md-button>
                <span flex></span>
                <md-button flex="33" class="md-primary md-raised" ng-click='viewVessel($event, vessel)'>
                    View
                </md-button>
            </div>
        </md-card>
    </md-content>
</md-content>
